@import url("http://fonts.googleapis.com/css?family=Open+Sans:300,400");
@import url("http://fonts.googleapis.com/css?family=Ubuntu");

.center {
  margin: auto;
  width: 70%;
  padding: 10px;
  text-align: center;
}

.content {
  max-width: 920px;
  margin: 60px auto 80px;
  padding: 0 15px;
  font-size: 15px;
  line-height: 1.7;
  color: #555;
}

.footer {
  font-size: 15px;
}

.links {
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 40px;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #000000;
}

a {
  font-family: 'Open Sans', sans-serif;
  color: #408EF5;
  text-decoration: none;
}

a:hover {
  color: #29ABE2;
  text-decoration: underline;
}

a:active {
  color: #29ABE2;
}

/* Arkham CSS - Information Banners */

.info {
  margin-bottom: 15px;
  padding: 4px 12px;
  background-color: #e7f3fe;
  border-left: 6px solid #2196F3;
}

/* Arkham CSS - Input */

input[type=text], select {
  font-size: 15px;
  width: 60%;
  padding: 12px 12px;
  margin: 4px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=button], input[type=submit], input[type=reset] {
  background-color: rgb(160, 94, 214);
  border: none;
  border-radius: 4px;
  color: white;
  padding: 6px 16px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

input[type=submit]:hover {
background-color: rgb(133, 86, 172);
}

input[type=text]:focus {
border: 1px solid #555;
}
